src/main/resources/articles.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.concretepage.com/article-ws" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.concretepage.com/article-ws" targetNamespace="http://www.concretepage.com/article-ws">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.concretepage.com/article-ws">

    <xs:element name="getArticleByIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="articleId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getArticleByIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="articleInfo" type="tns:articleInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="articleInfo">
        <xs:sequence>
            <xs:element name="articleId" type="xs:long"/>
            <xs:element name="title" type="xs:string"/>
            <xs:element name="category" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="getAllArticlesRequest">
        <xs:complexType/>
    </xs:element>    
    <xs:element name="getAllArticlesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="articleInfo" type="tns:articleInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>   
    <xs:complexType name="serviceStatus">
        <xs:sequence>
            <xs:element name="statusCode" type="xs:string"/>
            <xs:element name="message" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>     
    <xs:element name="addArticleRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="title" type="xs:string"/>
                <xs:element name="category" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="addArticleResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="serviceStatus" type="tns:serviceStatus"/>            
                <xs:element name="articleInfo" type="tns:articleInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="updateArticleRequest">
        <xs:complexType>
            <xs:sequence>
               <xs:element name="articleInfo" type="tns:articleInfo"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="updateArticleResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="serviceStatus" type="tns:serviceStatus"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="deleteArticleRequest">
        <xs:complexType>
            <xs:sequence>
               <xs:element name="articleId" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="deleteArticleResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="serviceStatus" type="tns:serviceStatus"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>                   
</xs:schema>
  </wsdl:types>
  <wsdl:message name="addArticleResponse">
    <wsdl:part element="tns:addArticleResponse" name="addArticleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllArticlesResponse">
    <wsdl:part element="tns:getAllArticlesResponse" name="getAllArticlesResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateArticleRequest">
    <wsdl:part element="tns:updateArticleRequest" name="updateArticleRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addArticleRequest">
    <wsdl:part element="tns:addArticleRequest" name="addArticleRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateArticleResponse">
    <wsdl:part element="tns:updateArticleResponse" name="updateArticleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteArticleResponse">
    <wsdl:part element="tns:deleteArticleResponse" name="deleteArticleResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getArticleByIdRequest">
    <wsdl:part element="tns:getArticleByIdRequest" name="getArticleByIdRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllArticlesRequest">
    <wsdl:part element="tns:getAllArticlesRequest" name="getAllArticlesRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getArticleByIdResponse">
    <wsdl:part element="tns:getArticleByIdResponse" name="getArticleByIdResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteArticleRequest">
    <wsdl:part element="tns:deleteArticleRequest" name="deleteArticleRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ArticlesPort">
    <wsdl:operation name="addArticle">
      <wsdl:input message="tns:addArticleRequest" name="addArticleRequest">
    </wsdl:input>
      <wsdl:output message="tns:addArticleResponse" name="addArticleResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllArticles">
      <wsdl:input message="tns:getAllArticlesRequest" name="getAllArticlesRequest">
    </wsdl:input>
      <wsdl:output message="tns:getAllArticlesResponse" name="getAllArticlesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateArticle">
      <wsdl:input message="tns:updateArticleRequest" name="updateArticleRequest">
    </wsdl:input>
      <wsdl:output message="tns:updateArticleResponse" name="updateArticleResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteArticle">
      <wsdl:input message="tns:deleteArticleRequest" name="deleteArticleRequest">
    </wsdl:input>
      <wsdl:output message="tns:deleteArticleResponse" name="deleteArticleResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getArticleById">
      <wsdl:input message="tns:getArticleByIdRequest" name="getArticleByIdRequest">
    </wsdl:input>
      <wsdl:output message="tns:getArticleByIdResponse" name="getArticleByIdResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ArticlesPortSoap11" type="tns:ArticlesPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="addArticle">
      <soap:operation soapAction=""/>
      <wsdl:input name="addArticleRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addArticleResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllArticles">
      <soap:operation soapAction=""/>
      <wsdl:input name="getAllArticlesRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllArticlesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateArticle">
      <soap:operation soapAction=""/>
      <wsdl:input name="updateArticleRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateArticleResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteArticle">
      <soap:operation soapAction=""/>
      <wsdl:input name="deleteArticleRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteArticleResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getArticleById">
      <soap:operation soapAction=""/>
      <wsdl:input name="getArticleByIdRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getArticleByIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ArticlesPortService">
    <wsdl:port binding="tns:ArticlesPortSoap11" name="ArticlesPortSoap11">
      <soap:address location="http://localhost:8080/soapws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>