src/main/resources/rubi_Synccom_senior_g5_rh_fp_integracaoOracle.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. -->
<definitions
        xmlns:tns="http://services.senior.com.br" xmlns="http://schemas.xmlsoap.org/wsdl/"
        targetNamespace="http://services.senior.com.br" name="g5-senior-services">
    <types>
    <xs:schema xmlns:tns="http://services.senior.com.br" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
               targetNamespace="http://services.senior.com.br">

        <xs:complexType name="integracaoOracleDesligamentoIn">
            <xs:sequence>
                <xs:element name="datFim" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="datIni" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="flowInstanceID" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="flowName" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="numEmp" type="xs:int" nillable="true" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>

        <xs:complexType name="integracaoOracleDesligamentoOut">
            <xs:sequence>
                <xs:element name="erroExecucao" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="TColaboradores" type="tns:integracaoOracleDesligamentoOutTColaboradores"
                            nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="TRescisao" type="tns:integracaoOracleDesligamentoOutTRescisao" nillable="true"
                            minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>

        <xs:complexType name="integracaoOracleDesligamentoOutTColaboradores">
            <xs:sequence>
                <xs:element name="codCar" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="codCarOra" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="codCcu" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="codCcuOra" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="codFil" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="codFilOra" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="colGer" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="datAdm" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="datAlt" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="datDem" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="datNas" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="dddFix" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="dddTel" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="emaCom" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="endCep" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="endNum" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="endRua" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="estCar" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="estCid" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="estCiv" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="matGer" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="nmDdd2" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="nmTel2" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="nomCcu" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="nomCid" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="nomFil" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="nomFun" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="nomLoc" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="nomPai" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="numCad" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="numCpf" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="numEmp" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="numLoc" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="numLocOra" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="numMatOra" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="numTel" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="racCor" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="razSoc" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="sobNom" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="tabOrg" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="telFix" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="tipEve" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="tipSex" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="titCar" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="valSal" type="xs:string" nillable="true" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>

        <xs:complexType name="integracaoOracleDesligamentoOutTRescisao">
            <xs:sequence>
                <xs:element name="datDem" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="numCad" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="numEmp" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="numMatOra" type="xs:string" nillable="true" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>

        <xs:complexType name="integracaoOracleAdmissaoIn">
            <xs:sequence>
                <xs:element name="datFim" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="datIni" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="flowInstanceID" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="flowName" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="numEmp" type="xs:int" nillable="true" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>

        <xs:complexType name="integracaoOracleAdmissaoOut">
            <xs:sequence>
                <xs:element name="erroExecucao" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="TColaboradores" type="tns:integracaoOracleAdmissaoOutTColaboradores" nillable="true"
                            minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>

        <xs:complexType name="integracaoOracleAdmissaoOutTColaboradores">
            <xs:sequence>
                <xs:element name="codCar" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="codCarOra" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="codCcu" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="codCcuOra" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="codFil" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="codFilOra" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="colGer" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="datAdm" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="datAlt" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="datDem" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="datNas" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="dddFix" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="dddTel" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="emaCom" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="endCep" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="endNum" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="endRua" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="estCar" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="estCid" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="estCiv" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="matGer" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="nmDdd2" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="nmTel2" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="nomCcu" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="nomCid" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="nomFil" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="nomFun" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="nomLoc" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="nomPai" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="numCad" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="numCpf" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="numEmp" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="numLoc" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="numLocOra" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="numMatOra" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="numTel" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="racCor" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="razSoc" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="sobNom" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="tabOrg" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="telFix" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="tipEve" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="tipSex" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="titCar" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="valSal" type="xs:string" nillable="true" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>

        <xs:complexType name="integracaoOracleAlteracoesGeraisIn">
            <xs:sequence>
                <xs:element name="flowInstanceID" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="flowName" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="numEmp" type="xs:int" nillable="true" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>

        <xs:complexType name="integracaoOracleAlteracoesGeraisOut">
            <xs:sequence>
                <xs:element name="erroExecucao" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="TColaboradores" type="tns:integracaoOracleAlteracoesGeraisOutTColaboradores"
                            nillable="true" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>

        <xs:complexType name="integracaoOracleAlteracoesGeraisOutTColaboradores">
            <xs:sequence>
                <xs:element name="codCar" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="codCarOra" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="codCcu" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="codCcuOra" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="codFil" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="codFilOra" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="colGer" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="datAdm" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="datAlt" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="datDem" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="datNas" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="dddFix" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="dddTel" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="emaCom" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="endCep" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="endNum" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="endRua" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="estCar" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="estCid" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="estCiv" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="matGer" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="nmDdd2" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="nmTel2" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="nomCcu" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="nomCid" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="nomFil" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="nomFun" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="nomLoc" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="nomPai" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="numCad" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="numCpf" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="numEmp" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="numLoc" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="numLocOra" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="numMatOra" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="numTel" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="racCor" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="razSoc" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="sobNom" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="tabOrg" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="telFix" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="tipEve" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="tipSex" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="titCar" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="valSal" type="xs:string" nillable="true" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>

        <xs:complexType name="integracaoOraclePromocaoIn">
            <xs:sequence>
                <xs:element name="datFim" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="datIni" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="flowInstanceID" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="flowName" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="numEmp" type="xs:int" nillable="true" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>

        <xs:complexType name="integracaoOraclePromocaoOut">
            <xs:sequence>
                <xs:element name="erroExecucao" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="TColaboradores" type="tns:integracaoOraclePromocaoOutTColaboradores" nillable="true"
                            minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="THistoricoSalario" type="tns:integracaoOraclePromocaoOutTHistoricoSalario"
                            nillable="true" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>

        <xs:complexType name="integracaoOraclePromocaoOutTColaboradores">
            <xs:sequence>
                <xs:element name="codCar" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="codCarOra" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="codCcu" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="codCcuOra" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="codFil" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="codFilOra" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="colGer" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="datAdm" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="datAlt" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="datDem" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="datNas" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="dddFix" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="dddTel" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="emaCom" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="endCep" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="endNum" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="endRua" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="estCar" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="estCid" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="estCiv" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="matGer" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="nmDdd2" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="nmTel2" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="nomCcu" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="nomCid" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="nomFil" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="nomFun" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="nomLoc" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="nomPai" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="numCad" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="numCpf" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="numEmp" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="numLoc" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="numLocOra" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="numMatOra" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="numTel" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="racCor" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="razSoc" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="sobNom" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="tabOrg" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="telFix" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="tipEve" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="tipSex" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="titCar" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="valSal" type="xs:string" nillable="true" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>

        <xs:complexType name="integracaoOraclePromocaoOutTHistoricoSalario">
            <xs:sequence>
                <xs:element name="datAlt" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="numCad" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="numEmp" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="seqAlt" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="valSal" type="xs:string" nillable="true" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>

        <xs:complexType name="integracaoOracleMovimentacaoIn">
            <xs:sequence>
                <xs:element name="datFim" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="datIni" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="flowInstanceID" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="flowName" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="numEmp" type="xs:int" nillable="true" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>

        <xs:complexType name="integracaoOracleMovimentacaoOut">
            <xs:sequence>
                <xs:element name="erroExecucao" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="TColaboradores" type="tns:integracaoOracleMovimentacaoOutTColaboradores"
                            nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="THistoricoCargo" type="tns:integracaoOracleMovimentacaoOutTHistoricoCargo"
                            nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="THistoricoCentroDeCusto"
                            type="tns:integracaoOracleMovimentacaoOutTHistoricoCentroDeCusto" nillable="true"
                            minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="THistoricoFilial" type="tns:integracaoOracleMovimentacaoOutTHistoricoFilial"
                            nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="THistoricoLocal" type="tns:integracaoOracleMovimentacaoOutTHistoricoLocal"
                            nillable="true" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>

        <xs:complexType name="integracaoOracleMovimentacaoOutTColaboradores">
            <xs:sequence>
                <xs:element name="codCar" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="codCarOra" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="codCcu" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="codCcuOra" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="codFil" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="codFilOra" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="colGer" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="datAdm" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="datAlt" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="datDem" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="datNas" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="dddFix" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="dddTel" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="emaCom" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="endCep" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="endNum" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="endRua" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="estCar" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="estCid" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="estCiv" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="matGer" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="nmDdd2" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="nmTel2" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="nomCcu" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="nomCid" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="nomFil" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="nomFun" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="nomLoc" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="nomPai" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="numCad" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="numCpf" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="numEmp" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="numLoc" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="numLocOra" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="numMatOra" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="numTel" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="racCor" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="razSoc" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="sobNom" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="tabOrg" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="telFix" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="tipEve" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="tipSex" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="titCar" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="valSal" type="xs:string" nillable="true" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>

        <xs:complexType name="integracaoOracleMovimentacaoOutTHistoricoCargo">
            <xs:sequence>
                <xs:element name="codCar" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="codCarOra" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="datAlt" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="estCar" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="numCad" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="numEmp" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="numMatOra" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="titCar" type="xs:string" nillable="true" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>

        <xs:complexType name="integracaoOracleMovimentacaoOutTHistoricoCentroDeCusto">
            <xs:sequence>
                <xs:element name="codCcu" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="codCcuOra" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="datAlt" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="nomCcu" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="numCad" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="numEmp" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="numMatOra" type="xs:string" nillable="true" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>

        <xs:complexType name="integracaoOracleMovimentacaoOutTHistoricoFilial">
            <xs:sequence>
                <xs:element name="cadAtu" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="codCar" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="codCarOra" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="codCcu" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="codCcuOra" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="codFil" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="codFilOra" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="datAlt" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="empAtu" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="estCar" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="nomCcu" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="nomLoc" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="numCad" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="numEmp" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="numLoc" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="numLocOra" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="numMatOra" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="titCar" type="xs:string" nillable="true" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>

        <xs:complexType name="integracaoOracleMovimentacaoOutTHistoricoLocal">
            <xs:sequence>
                <xs:element name="datAlt" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="nomLoc" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="numCad" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="numEmp" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="numLoc" type="xs:int" nillable="true" minOccurs="0"/>
                <xs:element name="numLocOra" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="numMatOra" type="xs:string" nillable="true" minOccurs="0"/>
                <xs:element name="tabOrg" type="xs:int" nillable="true" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:schema>
    </types>
</definitions>